<div class="head-section primary-text">
  <i class="fas fa-arrow-left" routerLink=""></i>
</div>
<div class="container secondary-text vertical-center">
  <div class="d-flex justify-content-center ">
     <div class="d-flex-column ">
       <div class="mb-5 ml-5">Enter your PIN</div>
       <input type="password" class="input" pattern="^[0-9]*$">
       <span class="underline"></span>
      <div> <button class="signin-button mt-5" routerLink="slot-info">
        <div class="d-flex justify-content-between">
          <div class="align-self-center">Sign In</div>
          <img src="assets/images/arrow_with_circle.png" alt="" height="25px" width="25px">
        </div>
      </button>
    </div>
     </div>
  </div>
  <div class="background-image">

  </div>
</div>

